<div class="JobSheet_StageSelectorContainer">
<table cellpadding="0" cellpadding="0">
 <tr>
	<td>
					
					<fieldset class="fieldsetStyle">
						<legend>Article Information</legend>
						<table cellpadding="0" cellpadding="0"
							class="userInputGrid JobSheet_StageSelectorTbl">
							<tr>
								<td>Article Type<span class="mandatoryField">*</span>:
								</td>
								<td>
									<div location="LST_ART_TYPE"></div>
								</td>

								<td>Article Sequence Number:</td>
								<td>
									<div location="TXT_ART_SEQ"></div>
								</td>
							</tr>
							<tr>
								<td>Contains ESM:</td>
								<td>
									<div location="LST_CON_ESM"></div>
								</td>

								<td>Article Language<span class="mandatoryField">*</span>:
								</td>
								<td>
									<div location="LST_ART_LANG"></div>
								</td>
							</tr>
							<tr>
								<td>Article Number Style:</td>
								<td>
									<div location="LST_ART_NUM"></div>
								</td>
								<td>Article TOC Levels:</td>
								<td><div location="TXT_ART_TOC"></div></td>
							</tr>
							<tr>
								<td>Article Output Medium:</td>
								<td>
									<div location="LST_ART_OUT"></div>

								</td>
								<td>Article ID<span class="mandatoryField">*</span>:
								</td>
								<td><div location="TXT_ART_ID"></div></td>
							</tr>
							<!--  Adding Article info -->
							<tr>
								<td>Article External ID: (arXiv)</td>
								<td><div location="TXT_ART_EXT_ID"></div></td>
								<td>Article DOI<span class="mandatoryField">*</span>:</td>
								<td><div location="TXT_ART_DOI"></div></td>
							</tr>
							<tr>
								<td>Article Title<span class="mandatoryField">*</span>:
								</td>
								<td><div location="TXT_ART_TITLE"></div></td>
								<td>Article Title Language:</td>
								<td><div location="LST_ART_TIT_LANG"></td>
							</tr>
							<tr>
								<td>Article Title Output Medium:</td>
								<td><div location="LST_ART_TIT_OUT"></div>
								<td>Article Category:</td>
								<td><div location="TXT_ART_CAT"></div></td>
							</tr>
							<tr>
								<td>Article Sub-Category:</td>
								<td><div location="TXT_ART_SUB_CAT"></div></td>
								<td>Article First Page:</td>
								<td><div location="TXT_ART_FPG"></div></td>
							</tr>

							<tr>
								<td>Article Last Page:</td>
								<td><div location="TXT_ART_LPG"></div></td>
								<td>Article Editorial Responsibility:</td>
								<td><div location="TXT_ART_EDIT"></div></td>
							</tr>
							<!-- End  -->
							<tr>
								<td>Copyright Holder Name<span class="mandatoryField">*</span>:
								</td>
								<td><div location="TXT_COPY_NAME"></div></td>
								<td>Copyright Year<span class="mandatoryField">*</span>:(yyyy)
								</td>
								<td><div location="TXT_COPY_YR"></div></td>
							</tr>
							<tr>
								<td>Article Citation:</td>
								<td>
									<div location="LST_ART_CITE"></div>
								</td>
								<td>ErroneousArticleFirstPage:</td>
								<td>
								<div location="TXT_ART_ERRFP"></div>
								</td>
							</tr>
							<tr>
							<td>ErroneousArticleLastPage:</td>
							<td>
							<div location="TXT_ART_ERRLP"></div>
							</td>
							</tr>
							
						</table>
					</fieldset>
					
					<fieldset class="fieldsetStyle">
						<legend>Article Sub-Title (this section is optional;
							mandatory data required if added)</legend>
						<table cellpadding="0" cellpadding="0"
							class="userInputGrid JobSheet_StageSelectorTbl">

							<tr>
								<td>Article Sub-Title<span class="mandatoryField">*</span>:
								</td>
								<td><div location="TXT_ART_SUB_TIT"></div></td>
								<td>Article Sub-Title Lang<span class="mandatoryField">*</span>:
								</td>
								<td>
									<div location="LST_ART_SUB_LANG"></div>

								</td>
							</tr>
							<tr>
								<td>Article Sub-Title O/p Med<span class="mandatoryField">*</span>:
								</td>
								<td>
									<div location="LST_REL_SUB_OBJ_TYP"></div>

								</td>
							</tr>
						</table>
					</fieldset>
					
					<fieldset class="fieldsetStyle">
						<legend>Article Related Object (this section is optional;
							mandatory data required if added)</legend>
						<table cellpadding="0" cellpadding="0"
							class="userInputGrid JobSheet_StageSelectorTbl">
							<tr>
								<td>Related Object Type<span class="mandatoryField">*</span>:
								</td>
								<td>
									<div location="LST_REL_OBJ_TYP"></div>

								</td>
								<td>Releated Object DOI<span class="mandatoryField">*</span>:
								</td>
								<td><div location="TXT_REL_OBJ_DOI"></div></td>
							</tr>
							<tr>
								<td colspan="2">
								<td><div location="LNK_ART_SUP_REM"></div></td>
								<td><div location="BTN_ART_SUP_ADD"></div></td>
							</tr>
						</table>
					</fieldset>
					<!--  -->
					
					<fieldset class="fieldsetStyle">
						<legend>Article History (this section is optional;
							mandatory data required if added)</legend>
						<table cellpadding="0" cellpadding="0"
							class="userInputGrid JobSheet_StageSelectorTbl">
							<tr>
								<td>Received Date: (dd-mm-yyyy)</td>
								<td><div location="TXT_ART_REC_DT"></div></td>
							</tr>
							<tr>
								<td>Revised Date: (dd-mm-yyyy)</td>
								<td><div location="TXT_ART_REV_DT"></div></td>
							</tr>
							<tr>
								<td>Accepted Date: (dd-mm-yyyy)</td>
								<td><div location="TXT_ART_ACC_DT"></div></td>
							</tr>
							<tr>
								<td>Registration Date: (dd-mm-yyyy)</td>
								<td><div location="TXT_ART_REG_DT"></div></td>
							</tr>
							<tr>
								<td>Online Date: (dd-mm-yyyy)</td>
								<td><div location="TXT_ART_ON_DT"></div></td>
							</tr>
						</table>
					</fieldset>
					<!-- End Article History -->

					<fieldset class="fieldsetStyle">
						<legend>Article Grants (this section is optional;
							mandatory data required if added)</legend>
						<table cellpadding="0" cellpadding="0"
							class="userInputGrid JobSheet_StageSelectorTbl">
							<tr>
								<td>Type:</td>
								<td>
								<div location="LST_GRANTS_TYPE"></div>
									</td>
							</tr>
							<tr>
								<td>Meta-data Grant<span class="mandatoryField">*</span>:
								</td>
								<td>
									<div location="LST_ART_GNT_MET"></div>
								</td>
							</tr>
							<tr>
								<td>Abstract Grant:</td>
								<td>
									<div location="LST_ART_GNT_ABS"></div>
								</td>
							</tr>
							<tr>
								<td>Body PDF Grant:</td>
								<td>
									<div location="LST_ART_GNT_PDF"></div>

								</td>
							</tr>
							<tr>
								<td>Body HTML Grant:</td>
								<td>
									<div location="LST_ART_GNT_HTM"></div>

								</td>
							</tr>
							<tr>
								<td>Bibliography Grant:</td>
								<td>
									<div location="LST_ART_GNT_BIB"></div>

								</td>
							</tr>
							<tr>
								<td>ESM Grant:</td>
								<td>
									<div location="LST_ART_GNT_ESM"></div>
								</td>
							</tr>
						</table>
					</fieldset>
					<!-- End Article Grants -->
					
					<!-- Author  Information 1 -->
					<fieldset class="fieldsetStyle">
						<legend>Author Information 1 (this section is optional;
							mandatory data required if added)</legend>
						<table cellpadding="0" cellpadding="0"
							class="userInputGrid JobSheet_StageSelectorTbl">
							<tr>
								<td>Prefix:</td>
								<td><div location="TXT_AUTH1_PRE"></div></td>

								<td>Given Name<span class="mandatoryField">*</span>:
								</td>
								<td><div location="TXT_AUTH1_GNM1"></div></td>
							</tr>
							<tr>
								<td>Given Name 2:</td>
								<td><div location="TXT_AUTH1_GNM2"></div></td>

								<td>Given Name 3:</td>
								<td><div location="TXT_AUTH1_GNM3"></div></td>
							</tr>
							<tr>
								<td>Particle:</td>
								<td><div location="TXT_AUTH1_PAR"></div></td>

								<td>Family Name:</td>
								<td><div location="TXT_AUTH1_FNM"></div></td>
							</tr>
							<tr>
								<td>Suffix:</td>
								<td><div location="LST_AUTH1_SUF"></div></td>

								<td>Affiliations (space separated):</td>
								<td><div location="TXT_AUTH1_AFF"></div></td>
							</tr>
							<tr>
								<td>Corr. Affiliations:</td>
								<td><div location="TXT_AUTH1_CAFF"></div></td>

								<td>SAP ID:</td>
								<td><div location="TXT_AUTH1_SAP_ID"></div></td>
							</tr>
							<tr>
								<td colspan="2">
								<td><div location="LNK_AUTH1_REM"></div></td>
								<td><div location="BTN_AUTH1_ADD"></div></td>
							</tr>
						</table>
					</fieldset>

					<!--  Author Contact 1 Information -->
					<fieldset class="fieldsetStyle">
						<legend>Author Contact 1 (this section is optional;
							mandatory data required if added)</legend>
						<table cellpadding="0" cellpadding="0"
							class="userInputGrid JobSheet_StageSelectorTbl">
							<tr>
								<td>Org. Name:</td>
								<td><div location="TXT_AU1_CON1_ONM"></div></td>

								<td>Org Division<span class="mandatoryField">*</span>:
								</td>
								<td><div location="TXT_AU1_CON1_ODIV"></div></td>
							</tr>
							<tr>
								<td>Phone 1:</td>
								<td><div location="TXT_AU1_CON1_PH1"></div></td>

								<td>Phone 2:</td>
								<td><div location="TXT_AU1_CON1_PH2"></div></td>
							</tr>
							<tr>
								<td>Fax 1:</td>
								<td><div location="TXT_AU1_CON1_FX1"></div></td>

								<td>Fax 2:</td>
								<td><div location="TXT_AU1_CON1_FX2"></div></td>
							</tr>
							<tr>
								<td>Email 1:</td>
								<td><div location="TXT_AU1_CON1_EM1"></div></td>

								<td>Email 2:</td>
								<td><div location="TXT_AU1_CON1_EM2"></div></td>
							</tr>
							<tr>
								<td>URL 1:</td>
								<td><div location="TXT_AU1_CON1_URL1"></div></td>

								<td>URL 2:</td>
								<td><div location="TXT_AU1_CON1_URL2"></div></td>
							</tr>
							<tr>
								<td colspan="2">
								<td><div location="LNK_CON1_REM"></div></td>
								<td><div location="BTN_CON1_ADD"></div></td>
							</tr>
						</table>
					</fieldset>
					<!-- End Author  Contact Information 1 -->
					
					<!-- Affiliation Information 1 -->
					<fieldset class="fieldsetStyle">
						<legend>Affiliation 1 (this section is optional;
							mandatory data required if added to the author)</legend>
						<table cellpadding="0" cellpadding="0"
							class="userInputGrid JobSheet_StageSelectorTbl">
							<tr>
								<td>ID<span class="mandatoryField">*</span>:
								</td>
								<td><div location="TXT_AFF1_ID"></div></td>

								<td>Org Division</td>
								<td><div location="TXT_AFF1_ORG_DIV"></div></td>
							</tr>
							<tr>
								<td>Org. Name:</td>
								<td><div location="TXT_AFF1_ORG_NM"></div></td>

								<td>Street:</td>
								<td><div location="TXT_AFF1_STR"></div></td>
							</tr>
							<tr>
								<td>Postbox:</td>
								<td><div location="TXT_AFF1_PBX"></div></td>
								<td>Postcode:</td>
								<td><div location="TXT_AFF1_PCD"></div></td>
							</tr>
							<tr>
								<td>City:</td>
								<td><div location="TXT_AFF1_CTY"></div></td>
								<td>State:</td>
								<td><div location="TXT_AFF1_STA"></div></td>
							</tr>
							<tr>
								<td>Country:</td>
								<td><div location="TXT_AFF1_CNT"></div></td>
								<td>Country Code :</td>
								<td><div location="TXT_AFF1_CNT_CODE"></div></td>
							</tr>
							<tr>
								<td colspan="2">
								<td><div location="LNK_AFF1_REM"></div></td>
								<td><div location="BTN_AFF1_ADD"></div></td>
							</tr>
						</table>
					</fieldset>
					<!-- End Affiliation Information 1 -->
					<!-- End Author  Information 1 -->
					
					<fieldset class="fieldsetStyle">
						<legend>Add Files to Publisher(complents deliverables to generate the correct Jobsheet)</legend>
						<table cellpadding="0" cellpadding="0"
							class="userInputGrid JobSheet_StageSelectorTbl">
							<tr>
								<td>A++ Root File:
								</td>
								<td><div location="LST_FTP_ARF"></div></td>

								<td>A++ Related Object File:
								</td>
								<td><div location="LST_FTP_AROF"></div></td>
							</tr>
							<tr>
								<td>Video Object 1:
								</td>
								<td><div location="LST_FTP_VO1"></div></td>

								<td>Video Object 2:
								</td>
								<td><div location="LST_FTP_VO2"></div></td>
							</tr>
							<tr>
								<td>Audio Object 1:
								</td>
								<td><div location="LST_FTP_AO1"></div></td>

								<td>Audio Object 2:
								</td>
								<td><div location="LST_FTP_AO2"></div></td>
							</tr>
							<tr>
								<td>Image Object 1:
								</td>
								<td><div location="LST_FTP_IO1"></div></td>

								<td>Image Object 2:
								</td>
								
								<td><div location="LST_FTP_IO2"></div></td>
							</tr>
							<tr>
								<td>Data Object 1:
								</td>
								<td><div location="LST_FTP_DO1"></div></td>

								<td>Data Object 2:
								</td>
								<td><div location="LST_FTP_DO2"></div></td>
							</tr>
							<tr>
								<td>Online PDF:
								</td>
								<td><div location="LST_FTP_OPDF"></div></td>

								<td>Print PDF:
								</td>
								<td><div location="LST_FTP_PPDF"></div></td>
							</tr>
							<tr>
								<td>Offprint Order PDF:
								</td>
								<td><div location="LST_FTP_OOPDF"></div></td>
								
								<td>Author Feedback PDF:
								</td>
								<td><div location="LST_FTP_AFPDF"></div></td>
							</tr>
							<tr>
							<td>Checklist PDF<span class="mandatoryField">*</span>:
								</td>
								<td><div location="LST_FTP_CPDF"></div></td>
								<td>Copyright Transfer PDF<span class="mandatoryField">*</span>:
								</td>
								<td><div location="LST_FTP_CTPDF"></div></td>
							</tr>
							
							<tr>
								<td>Delta PDF:
								</td>
								<td><div location="LST_FTP_DPDF"></div></td>

								<td>Epsilon PDF:
								</td>
								<td><div location="LST_FTP_EPDF"></div></td>
							</tr>
							
							<tr>
								<td>Pit-Stop-Report PDF:
								</td>
								<td><div location="LST_FTP_PSRPDF"></div></td>

								<td>Open Access Statement PDF:
								</td>
								<td><div location="LST_FTP_OASPDF"></div></td>
							</tr>
							<tr>
								<td>PRS Metadata:
								</td>
								<td><div location="LST_FTP_PRSM"></div></td>

								<td>Reference PDF:
								</td>
								<td><div location="LST_FTP_RPDF"></div></td>


							</tr>
							<tr>
								<td>Correction Sheet XML:
								</td>
								<td><div location="LST_FTP_CSXML"></div></td>

								<td>EPUB:
								</td>
								<td><div location="LST_FTP_EPUB"></div></td>

								</tr>
								
								<tr>
								<td>Manuscript:
								</td>
								<td><div location="LST_FTP_MAN"></div></td>

								<td>TeX:
								</td>
								<td><div location="LST_FTP_TEX"></div></td>

								</tr>
							<tr>
								<td colspan="2">
									<td><div location="LNK_FTP_REM"></div></td>
								<td><div location="BTN_FTP_ADD"></div></td>
							</tr>
						</table>
					</fieldset>
					<div location="BTN_GEN_PACK" class="floatRight"></div>
					
    </td>
</tr>
</table>
</div>