<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Jflux-Ext FTP Configuration</title>
</head>
<body>
<div style="margin: 10px">
<h3><u><b>Jflux-Ext FTP Configuration</b></u></h3><br>
<div style="background-color: #EBE7E6  " ><table>
<tr><td>Environment:</td><td><div location="LST_FOR_WINDOW_ENVT"></div><br></td></tr>
<tr><td>Host Name : </td>
<td><div location="TXT_HOST_NAME"></div><br></td>
</tr>
<tr><td>Port Number : </td>
<td><div location="TXT_PORT_NO"></div><br></td>
</tr>
<tr><td>User Name : </td>
<td><div location="TXT_USR_NAME"></div><br></td></tr>
<tr><td>Password : </td>
<td><div location="TXT_FTP_PASS"></div><br></td></tr>
<tr><td>FTP Directory : </td>
<td><div location="TXT_FTP_DIR"></div><br></td></tr>
<tr>
<td></td><td></td>
<td><div location="BTN_EDIT"></div></td>
<td><div location="BTN_SAVE"></div></td></tr>

</table>
</div>
</div>
</body>
</html>