<div class="JobSheet_StageSelectorContainer">
<table cellpadding="0" cellpadding="0">
					<tr>
					<td>
					<fieldset class="fieldsetStyle">
						<legend>Journal Information</legend>
						<table cellpadding="0" cellpadding="0"
							class="userInputGrid JobSheet_StageSelectorTbl">
							<tr>
								<td>Journal ID<span class="mandatoryField">*</span>:
								</td>
								<td>
									<div location="TXT_JRNLID"></div>
								</td>
								
							</tr>
							
							</table>
					</fieldset>

					<fieldset class="fieldsetStyle">
						<legend>Article Information</legend>
						<table cellpadding="0" cellpadding="0"
							class="userInputGrid JobSheet_StageSelectorTbl">
							<tr>
								<td> Article ID<span class="mandatoryField">*</span>:
								</td>
								<td>
									<div location="TXT_ARTID"></div>
								</td>
								<td>Article Title Language<span class="mandatoryField">*</span>:</td>
								<td>
									<div location="LST_ART_LANG"></div>

								</td>
							<tr>
								
								<td> Copy Editing Category:<span class="mandatoryField">*</span>:
								</td>
								<td><div location="LST_COPY_EDIT_CATEGORY"></div></td>
							</tr>
							<tr>
								<td>Contains ESM<span class="mandatoryField">*</span>:</td>
								<td colspan="2"><div location="LST_CONT_ESM"></div></td>
							</tr>
							
						
						</table>
						
					</fieldset>
					
					<fieldset class="fieldsetStyle">
						<legend>Manuscript Information</legend>
						<table cellpadding="0" cellpadding="0"
							class="userInputGrid JobSheet_StageSelectorTbl">
							<tr>
							<td>Manuscript File: <span class="mandatoryField">*</span>:
								</td>
								<td>
									<div location="LST_MANU_FILE"></div></td>
									
															</tr><tr><br></tr>
							
					<tr><td><label>Supporting Files:</label></td>
				
					<td><div location="CBOX_ESM_AUDIO"></div></td>
					
					<td><div location="CBOX_ESM_VDO"></div></td>
										
					<td><div style="margin-right: -5px;" location="CBOX_ESM_PDF" ></div></td>
					
					<td><div location="CBOX_IMG_EPS"></div></td>
					
				
					<td><div location="CBOX_ZIP"></div></td></tr>
					<tr><td></td>
					
					<td><div location="CBOX_IMG_TIF"></div></td>
									
					
					<td><div location="CBOX_TEX" ></div></td>
					
				<td><div location="CBOX_FUNDINGINFO_XML"></div></td>
				
				<td><div location="CBOX_OTHERFILES"></div></td>
					</tr>	
					<tr>
					<td></td></tr>
							</table>
							
							<div style="margin-left: 17%;" location="BTN_UPLOAD" ></div>
							<div location="HRLAYOUT"></div>
							</fieldset>

				<div location="BTN_GENPACKS" class="floatRight"></div>
				

					
				</td>
				</tr>	
				</table>
				</div>