<div class="JobSheet_StageSelectorContainer">
	<table cellpadding="0" cellpadding="0">
		<tr>
			<td>
				<fieldset class="fieldsetStyle">
					<legend>Publisher Information</legend>
					<table cellpadding="0" cellpadding="0"
						class="userInputGrid JobSheet_StageSelectorTbl">
						<tr>
							<td>Publisher Name<span class="mandatoryField">*</span>:
							</td>
							<td>
								<div location="TXT_PUB_NAME"></div>
							</td>
							<td class="padL20">Publisher Imprint Name:</td>
							<td>
								<div location="TXT_IMP_NM"></div>
							</td>
						</tr>
						<tr>
							<td>Publisher Location:<span class="mandatoryField">*</span>:
							</td>
							<td>
								<div location="TXT_PUB_LOC"></div>
							</td>
							<td class="padL20">Publisher URL:</td>
							<td>
								<div location="TXT_PUB_URL"></div>
							</td>

						</tr>
						<tr>
						<tr>
							<td colspan="2">
							<td><div location="LNK_PUB_INFO_REM"></div></td>
							<td><div location="BTN_PUB_INFO_ADD"></div></td>
						</tr>
						</tr>
					</table>
				</fieldset>

				<fieldset class="fieldsetStyle">
					<legend>Journal Information</legend>
					<table cellpadding="0" cellpadding="0"
						class="userInputGrid JobSheet_StageSelectorTbl">
						<tr>
							<td>Journal Product Type<span class="mandatoryField">*</span>:
							</td>
							<td>
								<div location="LST_JPROD_TYPE"></div>
							</td>
							<td>Journal Numbering Style:</td>
							<td>
								<div location="LST_JPROR_NUM"></div>

							</td>
						<tr>
							<td>Journal Output Medium:</td>
							<td>
								<div location="LST_JPROR_OUT"></div>

							</td>
							<td>Journal ID<span class="mandatoryField">*</span>:
							</td>
							<td><div location="TXT_JPROR_ID"></div></td>
						</tr>
						<tr>
							<td>Journal DOI:</td>
							<td colspan="2"><div location="TXT_JPROR_DOI"></div></td>
						</tr>
						<tr>
							<td>Journal Print ISSN:</td>
							<td><div location="TXT_JPROR_PISSN"></div></td>
							<td>Journal Electronic ISSN:</td>
							<td><div location="TXT_JPROR_EISSN"></div></td>
						</tr>
						<tr>
							<td>Journal Title:</td>
							<td><div location="TXT_JPROR_TITLE"></div></td>
							<td>Journal Sub-Title:</td>
							<td><div location="TXT_JPROR_STITLE"></div></td>
						</tr>
						<tr>
							<td>Journal Abbreviated Title:</td>
							<td><div location="TXT_JPROR_ATITLE"></div></td>
							<td>Journal Primary Subject:</td>
							<td><div location="TXT_JPROR_PSUB"></div></td>
						</tr>
						<tr>

							<td>Journal Sec. Subject:</td>
							<td><div location="TXT_JPROR_SSUB"></div></td>
							<td colspan="2">
						</tr>
						<tr>
							<td colspan="2">
							<td><div location="LNK_JOUR_INFO_REM"></div></td>
							<td><div location="BTN_JOUR_INFO_ADD"></div></td>
						</tr>
					</table>
				</fieldset> <!-- Volume Information  -->
				<fieldset class="fieldsetStyle">
					<legend>Volume Information</legend>
					<table cellpadding="0" cellpadding="0"
						class="userInputGrid JobSheet_StageSelectorTbl">
						<tr>
							<td>Volume ID Start<span class="mandatoryField">*</span>:
							</td>
							<td>
								<div location="TXT_VOL_ID_ST"></div>
							</td>
							<td>Volume ID End<span class="mandatoryField">*</span>:
							</td>
							<td>
								<div location="TXT_VOL_ID_END"></div>
							</td>
						</tr>
						<tr>
							<td>VolumeType<span class="mandatoryField">*</span>:
							</td>
							<td>
								<div location="LST_VOL_TYPE"></div>
							</td>
							<td>Volume OutputMedium<span class="mandatoryField">*</span>:
							</td>
							<td>
								<div location="LST_VOL_OM"></div>
							</td>
						</tr>
						<tr>
							<td>Volume Issue Count<span class="mandatoryField">*</span>:
							</td>
							<td>
								<div location="TXT_VOL_ISSUE_COUNT"></div>
							</td>
							<td></td>
							<td></td>
						</tr>
					</table>
				</fieldset> <!-- Issue Information  -->
				<fieldset class="fieldsetStyle">
					<legend>Issue Information</legend>
					<table cellpadding="0" cellpadding="0"
						class="userInputGrid JobSheet_StageSelectorTbl">
						<tr>
							<td>Issue ID Start<span class="mandatoryField">*</span>:
							</td>
							<td>
								<div location="TXT_ISS_ID_ST"></div>
							</td>
							<td>Issue ID End<span class="mandatoryField">*</span>:
							</td>
							<td>
								<div location="TXT_ISS_ID_END"></div>
							</td>
						</tr>
						<tr>
							<td>IssueType<span class="mandatoryField">*</span>:
							</td>
							<td>
								<div location="LST_ISS_TYPE"></div>
							</td>
							<td>Issue OutputMedium<span class="mandatoryField">*</span>:
							</td>
							<td>
								<div location="LST_ISS_OM"></div>
							</td>
						</tr>
						<tr>
							<td>Issue CopyrightHolderName<span class="mandatoryField">*</span>:
							</td>
							<td>
								<div location="TXT_ISS_CHN"></div>
							</td>
							<td>Issue CopyrightYear<span class="mandatoryField">*</span>:
							</td>
							<td>
								<div location="TXT_ISS_CY"></div>
							</td>
						</tr>
						<tr>
							<td>Issue Title:</td>
							<td>
								<div location="TXT_ISS_TITLE"></div>
							</td>
							<td>Issue Title Language:</td>
							<td><div location="LST_ISS_TIT_LANG"></td>

						</tr>
					</table>
				</fieldset> <!-- Supplement Information -->
				<fieldset class="fieldsetStyle">
					<legend>Supplement Information</legend>
					<table cellpadding="0" cellpadding="0"
						class="userInputGrid JobSheet_StageSelectorTbl">
						<tr>
							<td>Conference Event Name:</td>
							<td>
								<div location="TXT_CONFF_EV_NME"></div>
							</td>
							<td>Conference Event Abbreviation:</td>
							<td>
								<div location="TXT_CONFF_EV_ABBR"></div>
							</td>
						</tr>
						<tr>
							<td>Conference Event Location:</td>
							<td>
								<div location="TXT_CONFF_EV_LOC"></div>
							</td>
							<td>Conference Event Date:</td>
							<td>
								<div location="DT_CONFF_EV_DATE"></div>
							</td>
						</tr>
						<tr>
							<td>Conference Event Url:</td>
							<td>
								<div location="TXT_CONFF_EV_URL"></div>
							</td>
							<td>Sponsor Note:</td>
							<td>
								<div location="TXT_CONFF_SPO_NT"></div>
							</td>
						</tr>
						<tr>
							<td>Supplement Note:</td>
							<td>
								<div location="TXT_CONFF_SUPL_NT"></div>
							</td>
						</tr>
					</table>
				</fieldset>

				<fieldset class="fieldsetStyle">
					<legend>Issue History (this section is optional; mandatory
						data required if added)</legend>
					<table cellpadding="0" cellpadding="0"
						class="userInputGrid JobSheet_StageSelectorTbl">
						<tr>
							<td>Online Date Year<span class="mandatoryField">*</span>:
							</td>
							<td><div location="TXT_ISS_ONL_YEAR"></div></td>
							<td>Online Date Month<span class="mandatoryField">*</span>:
							</td>
							<td><div location="TXT_ISS_ONL_MONTH"></div></td>
						</tr>
						<tr>
							<td>Online Date Day<span class="mandatoryField">*</span>:
							</td>
							<td><div location="TXT_ISS_ONL_DAY"></div></td>
						</tr>
						<tr>
							<td>Cover Date Year<span class="mandatoryField">*</span>:
							</td>
							<td><div location="TXT_ISS_COV_YEAR"></div></td>
							<td>Cover Date Month<span class="mandatoryField">*</span>:
							</td>
							<td><div location="TXT_ISS_COV_MONTH"></div></td>
						</tr>
					</table>
				</fieldset> <!-- End Issue History --> <!-- Production Information  -->
				<fieldset class="fieldsetStyle">
					<legend>Production Information</legend>
					<table cellpadding="0" cellpadding="0"
						class="userInputGrid JobSheet_StageSelectorTbl">
						<tr>
							<td>Priority Level<span class="mandatoryField">*</span>:
							</td>
							<td><div location="LST_PRI_LVL"></div></td>
							<td>Supplier Name<span class="mandatoryField">*</span>:
							</td>
							<td><div location="TXT_SUP_NM"></div></td>
						</tr>
						<tr>
							<td colspan="2">
							<td><div location="LNK_PINFO_REM"></div></td>
							<td><div location="BTN_PINFO_ADD"></div></td>
						</tr>
					</table>
				</fieldset> <!-- End of Production Information --> <!-- Supplier Contact -->
				<fieldset class="fieldsetStyle">
					<legend>Supplier Contact(this section is optional;
						mandatory data required if added)</legend>
					<table cellpadding="0" cellpadding="0"
						class="userInputGrid JobSheet_StageSelectorTbl">
						<tr>
							<td>Org. Name:</td>
							<td><div location="TXT_SUP_ONM"></div></td>

							<td>Org Division<span class="mandatoryField">*</span>:
							</td>
							<td><div location="TXT_SUP_ODIV"></div></td>
						</tr>
						<tr>
							<td>Street:</td>
							<td><div location="TXT_SUP_STR"></div></td>
							<td>Postbox:</td>
							<td><div location="TXT_SUP_PBX"></div></td>
						</tr>
						<tr>

							<td>Postcode:</td>
							<td><div location="TXT_SUP_PCD"></div></td>
							<td>City:</td>
							<td><div location="TXT_SUP_CTY"></div></td>
						</tr>
						<tr>

							<td>State:</td>
							<td><div location="TXT_SUP_STA"></div></td>
							<td>Country:</td>
							<td><div location="TXT_SUP_CNT"></div></td>
						</tr>
						<tr>
							<td>Country Code:</td>
							<td><div location="TXT_SUP_CNT_CODE"></div></td>
						</tr>
						<tr>
							<td>Phone 1:</td>
							<td><div location="TXT_SUP_PH1"></div></td>
							<td>Phone 2:</td>
							<td><div location="TXT_SUP_PH2"></div></td>
						</tr>
						<tr>
							<td>Fax 1:</td>
							<td><div location="TXT_SUP_FX1"></div></td>
							<td>Fax 2:</td>
							<td><div location="TXT_SUP_FX2"></div></td>
						</tr>
						<tr>
							<td>Email 1:</td>
							<td><div location="TXT_SUP_EM1"></div></td>
							<td>Email 2:</td>
							<td><div location="TXT_SUP_EM2"></div></td>
						</tr>
						<tr>
							<td>URL 1:</td>
							<td><div location="TXT_SUP_URL1"></div></td>
							<td>URL 2:</td>
							<td><div location="TXT_SUP_URL2"></div></td>
						</tr>
						<tr>
							<td colspan="2">
							<td><div location="LNK_SUP_REM"></div></td>
							<td><div location="BTN_SUP_ADD"></div></td>
						</tr>
					</table>
				</fieldset> <!-- End of Supplier Contact --> <!-- Supplier Contact Person 1 -->
				<fieldset class="fieldsetStyle">
					<legend>Supplier Contact Person (this section is optional;
						mandatory data required if added)</legend>
					<table cellpadding="0" cellpadding="0"
						class="userInputGrid JobSheet_StageSelectorTbl">
						<tr>
							<td>Prefix:</td>
							<td><div location="TXT_CONP_PRE"></div></td>

							<td>Given Name 1<span class="mandatoryField">*</span>:
							</td>
							<td><div location="TXT_CONP_GNM1"></div></td>
						</tr>
						<tr>
							<td>Given Name 2:</td>
							<td><div location="TXT_CONP_GNM2"></div></td>

							<td>Given Name 3:</td>
							<td><div location="TXT_CONP_GNM3"></div></td>
						</tr>
						<tr>
							<td>Particle:</td>
							<td><div location="TXT_CONP_PAR"></div></td>

							<td>Family Name:</td>
							<td><div location="TXT_CONP_FNM"></div></td>
						</tr>
						<tr>
							<td>Suffix:</td>
							<td><div location="LST_CONP_SUF"></div></td>
						</tr>
						<tr>
							<td>Org. Name:</td>
							<td><div location="TXT_CONP_ONM"></div></td>

							<td>Org Division<span class="mandatoryField">*</span>:
							</td>
							<td><div location="TXT_CONP_ODIV"></div></td>
						</tr>
						<tr>
							<td>Street:</td>
							<td><div location="TXT_CONP_STR"></div></td>

							<td>Postbox:</td>
							<td><div location="TXT_CONP_PBX"></div></td>
						</tr>
						<tr>
							<td>Postcode:</td>
							<td><div location="TXT_CONP_PCD"></div></td>

							<td>City:</td>
							<td><div location="TXT_CONP_CTY"></div></td>
						</tr>
						<tr>
							<td>State:</td>
							<td><div location="TXT_CONP_STA"></div></td>

							<td>Country:</td>
							<td><div location="TXT_CONP_CNT"></div></td>
						</tr>
						<tr>
							<td>Country Code:</td>
							<td><div location="TXT_CONP_CNT_CODE"></div></td>
						</tr>
						<tr>
							<td>Phone 1:</td>
							<td><div location="TXT_CONP_PH1"></div></td>

							<td>Phone 2:</td>
							<td><div location="TXT_CONP_PH2"></div></td>
						</tr>
						<tr>
							<td>Fax 1:</td>
							<td><div location="TXT_CONP_FX1"></div></td>

							<td>Fax 2:</td>
							<td><div location="TXT_CONP_FX2"></div></td>
						</tr>
						<tr>
							<td>Email 1:</td>
							<td><div location="TXT_CONP_EM1"></div></td>

							<td>Email 2:</td>
							<td><div location="TXT_CONP_EM2"></div></td>
						</tr>
						<tr>
							<td>URL 1:</td>
							<td><div location="TXT_CONP_URL1"></div></td>

							<td>URL 2:</td>
							<td><div location="TXT_CONP_URL2"></div></td>
						</tr>
						<tr>
							<td colspan="2">
							<td><div location="LNK_CONP_REM"></div></td>
							<td><div location="BTN_CONP_ADD"></div></td>
						</tr>
					</table>
				</fieldset> <!-- End Author  Contact Information 1 --> <!-- End Author  Information 1 -->

				<fieldset class="fieldsetStyle">
					<legend>Deliverables for Compound Objects</legend>
					<table cellpadding="0" cellpadding="0"
						class="userInputGrid JobSheet_StageSelectorTbl">
						<tr>
							<td>CoverPrintPDF<span class="mandatoryField">*</span>:
							</td>
							<td><div location="LST_DELC_CPP"></div></td>

							<td>CoverFigure<span class="mandatoryField">*</span>:
							</td>
							<td><div location="LST_DELC_CF"></div></td>
						</tr>
						<tr>
							<td>FrontmatterPrintPDF<span class="mandatoryField">*</span>:
							</td>
							<td><div location="LST_DELC_FPP"></div></td>

							<td>BackmatterPrintPDF<span class="mandatoryField">*</span>:
							</td>
							<td><div location="LST_DELC_BPP"></div></td>
						</tr>
						<tr>
							<td>AdvertisementPrintPDF<span class="mandatoryField">*</span>:
							</td>
							<td><div location="LST_DELC_APP"></div></td>

							<td>DiscreteContentObjectOnlinePDF<span
								class="mandatoryField">*</span>:
							</td>
							<td><div location="LST_DELC_DCO"></div></td>
						</tr>
						<tr>
							<td>DiscreteContentObjectPrintPDF<span
								class="mandatoryField">*</span>:
							</td>
							<td><div location="LST_DELC_DCP"></div></td>

							<td>Pit-Stop-Reports<span class="mandatoryField">*</span>:
							</td>
							<td><div location="LST_DELC_PSR"></div></td>
						</tr>
						<tr>
							<td>DiscreteContentObjectXMLWithBody<span
								class="mandatoryField">*</span>:
							</td>
							</td>
							<td><div location="LST_DELC_DCXB"></div></td>

							<td>DiscreteContentObjectXMLWithBodyRefsOnly<span
								class="mandatoryField">*</span>:
							</td>
							<td><div location="LST_DELC_DCXR"></div></td>
						</tr>
						<tr>
							<td>DiscreteContentObjectOnlineMediaObjects<span
								class="mandatoryField">*</span>:
							</td>
							<td><div location="LST_DELC_DCOMO"></div></td>

							<td>IssuePrintPDF:</td>
							<td><div location="LST_DELC_IPP"></div></td>
						</tr>
						<tr>
							<td>CorrectionSheet:</td>
							<td><div location="LST_DELC_CS"></div></td>

						</tr>
						<tr>
							<td colspan="2">
							<td><div location="LNK_DELC_REM"></div></td>
							<td><div location="BTN_DELC_ADD"></div></td>
						</tr>
					</table>
				</fieldset> <!-- End Deliverables for Compound Objects -->

				<fieldset class="fieldsetStyle">
					<legend>Add Files to Publisher(complents deliverables to
						generate the correct Jobsheet)</legend>
					<table cellpadding="0" cellpadding="0"
						class="userInputGrid JobSheet_StageSelectorTbl">
						<tr>
							<td>Cover PDF:</td>
							<td><div location="LST_FTP_COV_PDF"></div></td>

						</tr>
						<tr>
							<td>Front Matter PDF:</td>
							<td><div location="LST_FTP_FM_PDF"></div></td>

							<td>Back Matter PDF:</td>
							<td><div location="LST_FTP_BM_PDF"></div></td>
						</tr>
						<tr>
							<td>Pit-Stop-Report PDF:</td>
							<td><div location="LST_FTP_ISS_PSR_PDF"></div></td>

						</tr>
					</table>
				</fieldset>

				<div location="BTN_GEN_PACK" class="floatRight"></div>
			</td>
		</tr>
	</table>
</div>