<div class="JobSheet_StageSelectorContainer">
<table cellpadding="0" cellpadding="0">
					<tr>
					<td>
					<fieldset class="fieldsetStyle">
						<legend>Publisher Information</legend>
						<table cellpadding="0" cellpadding="0"
							class="userInputGrid JobSheet_StageSelectorTbl">
							<tr>
								<td>Publisher Name<span class="mandatoryField">*</span>:
								</td>
								<td>
									<div location="TXT_PUB_NAME"></div>
								</td>
								<td class="padL20">Publisher Imprint Name:</td>
								<td>
									<div location="TXT_IMP_NM"></div>
								</td>
							</tr>
							<tr>
								<td>Publisher Location:<span class="mandatoryField">*</span>:
								</td>
								<td>
									<div location="TXT_PUB_LOC"></div>
								</td>
								<td class="padL20">Publisher URL:</td>
								<td>
									<div location="TXT_PUB_URL"></div>
								</td>

							</tr>
							<tr>
							<tr>
								<td colspan="2">
								<td><div location="LNK_PUB_INFO_REM"></div></td>
								<td><div location="BTN_PUB_INFO_ADD"></div></td>
							</tr>
							</tr>
						</table>
					</fieldset>

					<fieldset class="fieldsetStyle">
						<legend>Journal Information</legend>
						<table cellpadding="0" cellpadding="0"
							class="userInputGrid JobSheet_StageSelectorTbl">
							<tr>
								<td>Journal Product Type<span class="mandatoryField">*</span>:
								</td>
								<td>
									<div location="LST_JPROD_TYPE"></div>
								</td>
								<td>Journal Numbering Style:</td>
								<td>
									<div location="LST_JPROR_NUM"></div>

								</td>
							<tr>
								<td>Journal Output Medium:</td>
								<td>
									<div location="LST_JPROR_OUT"></div>

								</td>
								<td>Journal ID<span class="mandatoryField">*</span>:
								</td>
								<td><div location="TXT_JPROR_ID"></div></td>
							</tr>
							<tr>
								<td>Journal DOI:</td>
								<td colspan="2"><div location="TXT_JPROR_DOI"></div></td>
							</tr>
							<tr>
								<td>Journal Print ISSN:</td>
								<td><div location="TXT_JPROR_PISSN"></div></td>
								<td>Journal Electronic ISSN:</td>
								<td><div location="TXT_JPROR_EISSN"></div></td>
							</tr>
							<tr>
								<td>Journal Title:</td>
								<td><div location="TXT_JPROR_TITLE"></div></td>
								<td>Journal Sub-Title:</td>
								<td><div location="TXT_JPROR_STITLE"></div></td>
							</tr>
							<tr>
								<td>Journal Abbreviated Title:</td>
								<td><div location="TXT_JPROR_ATITLE"></div></td>
								<td>Journal Primary Subject:</td>
								<td><div location="TXT_JPROR_PSUB"></div></td>
							</tr>
							<tr>

								<td>Journal Sec. Subject:</td>
								<td><div location="TXT_JPROR_SSUB"></div></td>
								<td colspan="2">
							</tr>
							<tr>
								<td colspan="2">
								<td><div location="LNK_JOUR_INFO_REM"></div></td>
								<td><div location="BTN_JOUR_INFO_ADD"></div></td>
							</tr>
						</table>
					</fieldset>

					<!-- Production Information  -->
					<fieldset class="fieldsetStyle">
						<legend>Production Information</legend>
						<table cellpadding="0" cellpadding="0"
							class="userInputGrid JobSheet_StageSelectorTbl">
							<tr>
								<td>Priority Level<span class="mandatoryField">*</span>:
								</td>
								<td><div location="LST_PRI_LVL"></div></td>
								<td>Supplier Name<span class="mandatoryField">*</span>:
								</td>
								<td><div location="TXT_SUP_NM"></div></td>
							</tr>
							<tr>
								<td colspan="2">
								<td><div location="LNK_PINFO_REM"></div></td>
								<td><div location="BTN_PINFO_ADD"></div></td>
							</tr>
						</table>
					</fieldset>
					<!-- End of Production Information -->
					<!-- Supplier Contact -->
					<fieldset class="fieldsetStyle">
						<legend>Supplier Contact(this section is optional;
							mandatory data required if added)</legend>
						<table cellpadding="0" cellpadding="0"
							class="userInputGrid JobSheet_StageSelectorTbl">
							<tr>
								<td>Org. Name:</td>
								<td><div location="TXT_SUP_ONM"></div></td>

								<td>Org Division<span class="mandatoryField">*</span>:
								</td>
								<td><div location="TXT_SUP_ODIV"></div></td>
							</tr>
							<tr>
								<td>Street:</td>
								<td><div location="TXT_SUP_STR"></div></td>
								<td>Postbox:</td>
								<td><div location="TXT_SUP_PBX"></div></td>
							</tr>
							<tr>

								<td>Postcode:</td>
								<td><div location="TXT_SUP_PCD"></div></td>
								<td>City:</td>
								<td><div location="TXT_SUP_CTY"></div></td>
							</tr>
							<tr>

								<td>State:</td>
								<td><div location="TXT_SUP_STA"></div></td>
								<td>Country:</td>
								<td><div location="TXT_SUP_CNT"></div></td>
							</tr>
							<tr>
								<td>Country Code:</td>
								<td><div location="TXT_SUP_CNT_CODE"></div></td>
							</tr>
							<tr>
								<td>Phone 1:</td>
								<td><div location="TXT_SUP_PH1"></div></td>
								<td>Phone 2:</td>
								<td><div location="TXT_SUP_PH2"></div></td>
							</tr>
							<tr>
								<td>Fax 1:</td>
								<td><div location="TXT_SUP_FX1"></div></td>
								<td>Fax 2:</td>
								<td><div location="TXT_SUP_FX2"></div></td>
							</tr>
							<tr>
								<td>Email 1:</td>
								<td><div location="TXT_SUP_EM1"></div></td>
								<td>Email 2:</td>
								<td><div location="TXT_SUP_EM2"></div></td>
							</tr>
							<tr>
								<td>URL 1:</td>
								<td><div location="TXT_SUP_URL1"></div></td>
								<td>URL 2:</td>
								<td><div location="TXT_SUP_URL2"></div></td>
							</tr>
							<tr>
								<td colspan="2">
								<td><div location="LNK_SUP_REM"></div></td>
								<td><div location="BTN_SUP_ADD"></div></td>
							</tr>
						</table>
					</fieldset>
					<!-- End of Supplier Contact -->

					<!-- Supplier Contact Person 1 -->
					<fieldset class="fieldsetStyle">
						<legend>Supplier Contact Person (this section is
							optional; mandatory data required if added)</legend>
						<table cellpadding="0" cellpadding="0"
							class="userInputGrid JobSheet_StageSelectorTbl">
							<tr>
								<td>Prefix:</td>
								<td><div location="TXT_CONP_PRE"></div></td>

								<td>Given Name 1<span class="mandatoryField">*</span>:
								</td>
								<td><div location="TXT_CONP_GNM1"></div></td>
							</tr>
							<tr>
								<td>Given Name 2:</td>
								<td><div location="TXT_CONP_GNM2"></div></td>

								<td>Given Name 3:</td>
								<td><div location="TXT_CONP_GNM3"></div></td>
							</tr>
							<tr>
								<td>Particle:</td>
								<td><div location="TXT_CONP_PAR"></div></td>

								<td>Family Name:</td>
								<td><div location="TXT_CONP_FNM"></div></td>
							</tr>
							<tr>
								<td>Suffix:</td>
								<td><div location="LST_CONP_SUF"></div></td>
							</tr>
							<tr>
								<td>Org. Name:</td>
								<td><div location="TXT_CONP_ONM"></div></td>

								<td>Org Division<span class="mandatoryField">*</span>:
								</td>
								<td><div location="TXT_CONP_ODIV"></div></td>
							</tr>
							<tr>
								<td>Street:</td>
								<td><div location="TXT_CONP_STR"></div></td>

								<td>Postbox:</td>
								<td><div location="TXT_CONP_PBX"></div></td>
							</tr>
							<tr>
								<td>Postcode:</td>
								<td><div location="TXT_CONP_PCD"></div></td>

								<td>City:</td>
								<td><div location="TXT_CONP_CTY"></div></td>
							</tr>
							<tr>
								<td>State:</td>
								<td><div location="TXT_CONP_STA"></div></td>

								<td>Country:</td>
								<td><div location="TXT_CONP_CNT"></div></td>
							</tr>
							<tr>
								<td>Country Code:</td>
								<td><div location="TXT_CONP_CNT_CODE"></div></td>
							</tr>
							<tr>
								<td>Phone 1:</td>
								<td><div location="TXT_CONP_PH1"></div></td>

								<td>Phone 2:</td>
								<td><div location="TXT_CONP_PH2"></div></td>
							</tr>
							<tr>
								<td>Fax 1:</td>
								<td><div location="TXT_CONP_FX1"></div></td>

								<td>Fax 2:</td>
								<td><div location="TXT_CONP_FX2"></div></td>
							</tr>
							<tr>
								<td>Email 1:</td>
								<td><div location="TXT_CONP_EM1"></div></td>

								<td>Email 2:</td>
								<td><div location="TXT_CONP_EM2"></div></td>
							</tr>
							<tr>
								<td>URL 1:</td>
								<td><div location="TXT_CONP_URL1"></div></td>

								<td>URL 2:</td>
								<td><div location="TXT_CONP_URL2"></div></td>
							</tr>
							<tr>
								<td colspan="2">
								<td><div location="LNK_CONP_REM"></div></td>
								<td><div location="BTN_CONP_ADD"></div></td>
							</tr>
						</table>
					</fieldset>
					<!-- End Author  Contact Information 1 -->
					<!-- End Author  Information 1 -->

					<fieldset class="fieldsetStyle">
						<legend>Deliverables for Discrete Objects</legend>
						<table cellpadding="0" cellpadding="0"
							class="userInputGrid JobSheet_StageSelectorTbl">
							<tr>
								<td>XMLWithBody<span class="mandatoryField">*</span>:
								</td>
								<td><div location="LST_DEL_XWB"></div></td>

								<td>XMLWithBodyRefsOnly<span class="mandatoryField">*</span>:
								</td>
								<td><div location="LST_DEL_XWBRO"></div></td>
							</tr>
							<tr>
								<td>OnlinePDF<span class="mandatoryField">*</span>:
								</td>
								<td><div location="LST_DEL_OPDF"></div></td>

								<td>PrintPDF<span class="mandatoryField">*</span>:
								</td>
								<td><div location="LST_DEL_PPDF"></div></td>
							</tr>
							<tr>
								<td>TEX<span class="mandatoryField">*</span>:
								</td>
								<td><div location="LST_DEL_TEX"></div></td>

								<td>OnlineMediaObjects<span class="mandatoryField">*</span>:
								</td>
								<td><div location="LST_DEL_OMO"></div></td>
							</tr>
							<tr>
								<td>PrintMediaObjects<span class="mandatoryField">*</span>:
								</td>
								<td><div location="LST_DEL_PMO"></div></td>

								<td>ReferencePDF<span class="mandatoryField">*</span>:
								</td>
								<td><div location="LST_DEL_RPDF"></div></td>
							</tr>
							<tr>
								<td>AuthorFeedbackPDF<span class="mandatoryField">*</span>:
								</td>
								</td>
								<td><div location="LST_DEL_AFPDF"></div></td>

								<td>DeltaPDF<span class="mandatoryField">*</span>:
								</td>
								<td><div location="LST_DEL_DPDF"></div></td>
							</tr>
							<tr>
								<td>CopyrightTransfer<span class="mandatoryField">*</span>:
								</td>
								<td><div location="LST_DEL_CPYT"></div></td>

								<td>OpenAccessStatement<span class="mandatoryField">*</span>:
								</td>
								<td><div location="LST_DEL_OAS"></div></td>
							</tr>
							<tr>
								<td>OffprintOrder<span class="mandatoryField">*</span>:
								</td>
								<td><div location="LST_DEL_OPO"></div></td>

								<td>Pit-Stop-Reports<span class="mandatoryField">*</span>:
								</td>
								<td><div location="LST_DEL_PSR"></div></td>
							</tr>
							<tr>
								<td>PRS-Metadata<span class="mandatoryField">*</span>:
								</td>
								<td><div location="LST_DEL_PRSM"></div></td>

								<td>Manuscript<span class="mandatoryField">*</span>:
								</td>
								<td><div location="LST_DEL_MAN"></div></td>
							</tr>
							<tr>
								<td>EpsilonPDF<span class="mandatoryField">*</span>:
								</td>
								<td><div location="LST_DEL_EPDF"></div></td>

								<td>CorrectionSheet:
								</td>
								<td><div location="LST_DEL_CORS"></div></td>
							</tr>
							<tr>
								<td>PeerReviewPDFs:
								</td>
								<td><div location="LST_DEL_PRP"></div></td>

								</tr>
							<tr>
								<td colspan="2">
									<td><div location="LNK_DEL_REM"></div></td>
								<td><div location="BTN_DEL_ADD"></div></td>
							</tr>
						</table>
					</fieldset>
					<!-- End Deliverables for Discrete Objects -->


					<!-- End Deliverables for Discrete Objects -->
					<div location="BTN_GEN_PACK" class="floatRight"></div>
				</td>
				</tr>	
				</table>
				</div>